*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  border-top-width: 1px;
  box-sizing: content-box; /* 1 */
  clear: both;
  color: inherit;
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100%;
}

/* ================================================
header
================================================= */
.header{
  position: fixed;
  z-index: 5;
  background-color: #fff;
  width: 100%;
  top: 0;
  left: 0;
  height: 64px;
}
.header-title{
  padding: 20px;
}

/* ==========================================
hamburger
============================================= */
.js-toggle-btn{
  right: 5%;
  top: 5%;
  width: 45px;
  height: 40px;
  cursor: pointer;
  position: absolute;
}

.bar{
  width: 45px;
  height: 2px;
  position: absolute;
  background-color: #000;
  transition: .5s;
  z-index: 15;
}
.bar1{
  top: 25px;
}
.bar2{
  top: 35px;
}
.bar3{
  top: 45px;
}

.bar1.active{
  transform: rotate(405deg);
  top: 35px;
  background-color: #fff;
}
.bar2.active{
  opacity: 0;
  background-color: #fff;
}
.bar3.active{
  transform: rotate(-405deg);
  top: 35px;
  background-color: #fff;
}


.side-bar{
  overflow-y: scroll;
  height: 100vh;
  width: 20vw;
  transform: translateX(-250%);
  transition: 2s;
} 

.side-bar.active{
  transform: translateX(10%);
}
.side-bar-list{
  padding: 16px;
  margin-top:32px;
}
.side-bar-items{
  padding: 16px 0;
  line-height: 2.5;
  border-top: 1px solid #fff;
  color: #fff;
}
.side-bar-items:last-child{
  border-bottom: 1px solid #fff;
}
.side-sns-list{
  padding: 16px;
  margin-top:32px;
}
.side-sns-items{
  color: #fff;
  margin: 16px;
}

.mask{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  opacity: .9;
}
.mask.active{
  display: block;
}
/*==================================================
main
==================================================== */
/* pick-up */
.section{
  margin: 40px;
}
.section-title{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
}
/* feature */
.sneakers{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.sneakers div{
  width: calc(33% - 50px);
}

.product-box{
  position: relative;
  height: 420px;
  /* %指定にしたい */
  background-color: #ffffff;
  box-shadow: 0 0 10px #666;
}
.product-box > figure{
  position: absolute;
  top: 0;
  height: 70%;
}
.img-content{
  position: absolute;
  bottom: 0;
  height: 30%;
  padding: 16px;
}
.category{
  top: -20%;
  font-size: 12px;
  position: absolute;
}
.content-text{
  width: 20vw;
  font-weight: bold;
  margin-bottom: 20px;
}
.content-date{
  padding-left: 250px;
  font-size: 12px;
}
/* ===================================================
footer
===================================================== */

.contact-wrapper{
  background-color: #000;
}
.contact-inner{
  width: 100%;
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
input[type="text"],
input[type="email"],
textarea{
  background-color: #fff;
  width: 80%;
  padding: 16px;
}
textarea{
  resize: vertical;
}

.section-title.contact{
  margin-bottom: 0;
  padding-top: 32px;
  color: #fff;
}
.contact-text{
  width: calc(50% - 50px);
  color: #fff;
  margin-left: 25px;
}
.contact-inner>form{
  width: calc(50% - 50px);
  margin-left: 25px;
}
.text{
  margin: 42px 0;
  line-height: 1.5;
  width: 90%;
}
.contact-form-title{
  margin: 20px 0;
  color: #fff;
}

input[type = submit]{
  margin-top: 20px;
  border: 1px solid #fff;
  text-align: center;
  width: 200px;
  padding: 16px;
  color: #fff;
  transition: .5s;
}

input[type = submit]:hover{
  color: #000;
  background-color: #fff;
}


.copyright{
  display: block;
  text-align: center;
  margin: 24px 0;
  color: #fff;
}
