*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  line-height: 1.15; /* 1 */
}

body {
  margin: 0;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  border-top-width: 1px;
  box-sizing: content-box; /* 1 */
  clear: both;
  color: inherit;
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100%;
}

/* header */
.header{
  position: fixed;
  background-color: #FFF;
  top: 0;
  left: 0;
  width: 100%;
  padding: 32px;
  height: 64px;
  display: flex;
  justify-content: space-between;
  z-index: 5;
}
.header-title a > img{
  width: 70%;
}

/* main */
.main{
  margin-top: 100px;
}
.main-title{
  padding: 36px;
  margin-left: 54px;
}
.products{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}
.products div{
  width: calc(25% - 60px);
  padding: 10px;
}
.product-box{}
.product-box img{}
.product-title,
.money{
  padding: 4px 0;
  text-align: left;
  font-size: 14px;
}

.image-link{
  cursor: pointer;
  transition: 1s;
}
.image-link:hover{
  opacity: 0.5;
}

/* material */
.product-page{
  margin-left: 5%;
}
.praduct-title{
  text-align: left;
  margin-bottom: 20px;
}
.product-inner{
  width: 70%;
  display: flex;
  text-align: center;
  gap: 40px;
}
.product-img img{
  width: 450px;
}
.product-img{
  width: 50%;
}

.product-content{
  width: 35%;
}
.product-introduce{
  text-align: left;
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 32px;
}
.product-detail{
  text-align: left;
  margin-top: 20px;
}
.detail-list{
  position: relative;
}
.text{
  font-size: 14px;
  position: absolute;
  left: 45%;
}
.back-to-product{
  display: block;
  margin-top: 60px;
  text-align: center;
}

/* puroduct link */
.product-link{
  margin-top: 40px;
  text-align: center;
}
.link{
  padding: 16px;
  cursor: pointer;
}

/* footer */
.footer{
  position: relative;
  bottom: 0;
  margin-top: 54px;
  display: flex;
  justify-content: space-between;
  padding: 36px;
}
.footer-list{
  margin-left: 54px;
  display: flex;
  gap: 20px;
}
.footer-items{
  font-size: 12px;
}

.copyright{
  display: block;
}

/* hambarger */
.togglebutton{
  width: 40px;
  height: 40px;
  position: relative;
  z-index: 10;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}

.hambarger{
  width: 35px;
  height: 2px;
  display: block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.hambarger:nth-child(1){
  transition: .5s;
  top: 15px;
  background-color: #000;
}
.hambarger:nth-child(2){
  transition: .5s;
  bottom: 15px;
  background-color: #000;
}
.bar1.active{
  transform: translate(-50%,0px) rotate(45deg);
  background-color: #fff;
  transition: .5s;
}
.bar2.active{
  transform: translate(-50%,-8px) rotate(-45deg);
  background-color: #fff;
  transition: .5s;
}

.overwrap{
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background-color: transparent;
  opacity: .9;
}
.overwrap.active{
  display: block;
  background-color: #000;
}
.side-menu-list{
  margin-top: 40px;
  transform: translateX(-20%);
  transition: 0.75s;
}
.side-menu-list.active{
  margin-top: 40px;
  transform: translateX(5%);
  transition: 0.75s;
}

.side-menu-items{
  cursor: pointer;
  letter-spacing: 1.5;
  color: #FFF;
  font-size: 14px;
  padding: 8px;
}