*,
::before,
::after {
  border-style: solid;
  border-width: 0;
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: transparent; /* 3*/
  line-height: 1.15; /* 1 */
  font-size: 100%;
}

body {
  margin: 0;
  color: #050507;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

main {
  display: block;
}

p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

hr {
  border-top-width: 1px;
  box-sizing: content-box; /* 1 */
  clear: both;
  color: inherit;
  height: 0; /* 1 */
  margin: 0;
  overflow: visible; /* 2 */
}

pre {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

address {
  font-style: inherit;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;
  color: #fff;
}

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted; /* 2 */
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: inherit; /* 2 */
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none; /* 1 */
  -moz-appearance: none;
       appearance: none;
  background: transparent;
  border-radius: 0;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: inherit; /* 2 */
  vertical-align: middle;
}

[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

option {
  padding: 0;
}

fieldset {
  margin: 0;
  min-width: 0;
  padding: 0;
}

legend {
  padding: 0;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline-offset: -2px; /* 1 */
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

label[for] {
  cursor: pointer;
}

details {
  display: block;
}

summary {
  display: list-item;
}

[contenteditable]:focus {
  outline: auto;
}

table {
  border-collapse: collapse;
  border-color: inherit; /* 1 */
}

caption {
  text-align: left;
}

td,
th {
  padding: 0;
  vertical-align: top;
}

th {
  font-weight: bold;
  text-align: left;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}


/* ================================================
header
================================================= */
header{
  background-color: #050507;
}
/*
ヘッダーロゴ
初期状態は「display: none;」で非表示にしておく
所定のスクロール位置にきたらjQueryのfadeInで表示する
※main.jsの「ロゴ、ハンバーガーメニューの表示」を参照
*/

.logo{
  line-height: 1px;
  position: fixed;
  top: 35px;
  left: 30px;
  z-index: 40;
  display: none;
}

.logo a{
  display: block;
}

/*
ハンバーガ―メニュー
初期状態は「display: none;」で非表示にしておく
所定のスクロール位置にきたらjQueryのfadeInで表示する
※main.jsの「ロゴ、ハンバーガーメニューの表示」を参照
*/
.hamburger{
  width: 42px;
  height: 42px;
  cursor: pointer;
  position: fixed;
  top: 20px;
  right: 25px;
  z-index: 40;
  display: none;
}

.hamburger span{
  width: 30px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  left: 6px;
  transition: 0.5s ease-in-out;
}

.hamburger span:nth-child(1) {
  top: 11px;
}
.hamburger span:nth-child(2) {
  top: 21px;
}
.hamburger span:nth-child(3) {
  top: 31px;
}
.hamburger.active span:nth-child(1) {
  top: 21px;
  left: 6px;
  transform: rotate(-45deg);
}

.hamburger.active span:nth-child(2),
.hamburger.active span:nth-child(3){
  top: 21px;
  transform: rotate(45deg);
}

#navi {
  width: 100%;
  background-color: #fff;
  color: #050507;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  transform: translateY(-100%);
  transition: 0.6s;
  z-index: 30;
}

#navi ul{
  width: 100%;
  background-color: #050507;
  padding: 80px 0 30px 0;
}

#navi ul li{
  padding: 10px 0;
}

#navi ul li a{
  display: block;
}
/*
メニュー表示
ハンバーガーメニューがクリックされた際に、jQueryで#naviにactiveクラスを追加して、
メニューを上から下にスライドさせて表示する
*/
#navi.active {
  transform: translateY(0%);
}

/*-------------------------------------------
Mainvisual
-------------------------------------------*/
#mainvisual {
  display: flex;
  justify-content: center;
  /* スクロールで画像を拡大させた際に、横スクロールが出ないよう設定 */
  overflow-x: hidden;
}
/*
スクロールしたタイミングでjQueryにて画像を拡大するが、
その際に画像が縮まないよう「flex-shrink: 0;」を設定する
*/
#mainvisual img{
  width: calc(100%/3);
  height: 100vh;
  /* 画像がそのまま拡大されるようにするための処理 */
  flex-shrink: 0;
  object-fit: cover;
  /* 要素のコンテンツボックス全体を埋めるように拡大縮小されます。 */
}

/*-------------------------------------------
Information
-------------------------------------------*/
#information {
  margin-bottom: 140px;
}
#information .info-date-en {
  display: block;
  font-size: 1.5rem;
}
#information .info-time-en {
  display: block;
  font-size: 1.125rem;
}
#information .info-place {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
}
#information .info-date-ja {
  font-size: 1.125rem;
}

/*-------------------------------------------
Gallery
-------------------------------------------*/
#gallery {
  margin-bottom: 480px;
}
#gallery .list li {
  margin-bottom: 60px;
}
#gallery .list li img {
  width: 48%;
}
#gallery .list li:nth-child(odd){
  text-align: left;
}
#gallery .list li:nth-child(even){
  text-align: right;
}

/*-------------------------------------------
Access
-------------------------------------------*/
/*
「z-index: 20;」でコンテンツが背景画像の上にくるようにする
※デフォルトのposition（static）では、z-indexを指定できないため。
「position: relative;」設定する
*/
#access {
  margin-bottom: 480px;
  position: relative;
  z-index: 20;
}
#access .place {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}
#access .address {
  margin-bottom: 20px;
}
#access .contact {
  margin-bottom: 30px;
}
#access .btn {
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  padding: 15px 82px;
  transition: 0.3s;
}
#access .btn:hover {
  background-color: #050507;
}

/*
「z-index: 20;」でコンテンツが背景画像の上にくるようにする
*/
#contact {
  margin-bottom: 200px;
  position: relative;
  z-index: 20;
}
#contact .btn {
  width: 400px;
  border: solid 1px #7d7d7d;
  color: #fff;
  display: block;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  position: relative;
  transition: 0.3s;
}
/*
ボタン矢印
*/
#contact .btn::before,
#contact .btn::after {
  content: "";
  position: absolute;
  right: -40px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
/*
矢印の直線部分
*/
#contact .btn::before {
  width: 120px;
  top: 48px;
}
/*
矢印の先端部分
「rotate(25deg)」で角度をつける
*/
#contact .btn::after {
  width: 15px;
  top: 45px;
  transform: rotate(25deg);
}
#contact .btn:hover {
  opacity: 0.7;
}

/* 疑似要素とhoverの順番大切 */
#contact .btn:hover::before,
#contact .btn:hover::after {
  right: -50px;
}



/*==================================================
main
==================================================== */
.site-title{
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
}

.section-title{
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}

/* 横幅を決めてあげてmargin 0 auto */
.wrapper{
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}

.container{
  background: #050507;
  color: #fff;
  text-align: center;
}

#side-btn{
  border: solid 1px #fff;
  position: fixed;
  right: -144px;
  transform: rotate(-90deg) translateY(60px);
  transition: 0.6s;
  z-index: 30;
  bottom: 200px;
}

#side-btn a{
  width: 165px;
  font-size: 0.875rem;
  display: inline-block;
  letter-spacing: 0.1em;
  padding: 15px 0;
  transition: 0.3s;
}

#side-btn a:last-of-type{
  /* last-of-type 最後のaタグ要素に対して */
  border-left: solid 1px #fff;
}

#side-btn a:hover{
  opacity: 0.7;
}

/*
Accessの背景画像
初期状態は「display: none;」で非表示にしておく
Accessのタイトルが画面下にきたタイミングで、jQueryのfadeInで表示する
Contactのタイトルが画面下にきたタイミングで、jQueryのfadeOutで非表示にする
「position: fixed;」で固定し「width: 100vw;」「height: 100vh;」で全画面表示する
※main.jsの「Accessの背景画像を表示」を参照
*/
.bg{
  background: url("../img/bg.jpg") center center repeat !important;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 10;
}

/*
フェード表示
InformationとGalleryの画像を下からふわっと表示させるためのクラス
「transform: translate(0, 50%);」で下にさげた状態で、
「opacity: 0;」で非表示にしておく
*/
.fadein{
  opacity:0;
  transform: translate(0,50%);
  transition: 2s;
}
/* 初めに下げておいて上にばねのように戻しながら表示する */

/*
fadeinクラスの要素が画面下にきたタイミングで、jQueryのinviewにてshowクラスを追加して
「transform: translate(0, 0);」と「opacity: 1;」で表示させる
※main.jsの「フェード表示」を参照
*/
.fadein.show{
  transform: translate(0,0);
  opacity: 1;
}

/* ===================================================
footer
===================================================== */
.footer {
  display: flex;
  align-items: flex-end;
  /* flexitemを親要素の左下にまとめて(折り返して表示) */
  justify-content: space-between;
  border-top: solid 1px #fff;
  font-size: 0.75rem;
  padding: 80px 30px;
  text-align: left;
}
.footer p {
  line-height: 1.6;
}
.footer .sns {
  display: flex;
  align-items: center;
  margin-top: 30px;
}
.footer .sns li {
  margin-right: 15px;
}
.footer .copyright {
  display: flex;
  align-items: center;
}
.footer .copyright li:last-child {
  margin-left: 30px;
}
